/* .trafficLight{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 15px;
    width: 80px;
    border-radius: 15px;
}

.feu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.2;
}
.allume{
    opacity: 1;
}

#red{
    background-color: red;
}

#orange{
    background-color: orange;
}

#green{
    background-color: green;
} */

/* .modal{
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.8;
}
.modalContent{
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    position: relative;
}
.modal.active{
    display: block;
}
.closeButton{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
    color: #000;
} */