/* .trafficLight{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 15px;
    width: 80px;
    border-radius: 15px;
}

.feu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.2;
}
.allume{
    opacity: 1;
}

#red{
    background-color: red;
}

#orange{
    background-color: orange;
}

#green{
    background-color: green;
} */

.modalCard{
    background-color: #000;
    color: #fff;
    padding: 30px;
    
}